#altboiler_boilerPlateLoader {
  position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-color: #fff;
  transition: opacity .2s;
}